.test{

  margin-top: 100px;


}


/* Reset .lead properties because of bootstrap */
.lead {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body-lead {
	line-height: 1;
}
ol-bootstrp-off, ul-bootstrp-off {
	list-style: none;
}
blockquote-lead, q-lead {
	quotes: none;
}
blockquote-lead:before, blockquote-lead:after,
q-lead:before, q-lead:after {
	content: '';
	content: none;
}
table-lead {
	border-collapse: collapse;
	border-spacing: 0;
}


*
{margin: 0;
padding: 0;
box-sizing: border-box;
/* font-family: 'Poppins', sans-serif; */
}
body{

  background: #f5d9d5;
  /* font-family: "Nunito",sans-serif; */
  }  
  

  /* .content{
  
      margin-top: 100px;
    
  } */
  
  #mainNavbar {
      font-size: 1.5rem;
      font-weight: 100;
      }
  
      #mainNavbar .nav-link{
  
  color: white;
         }
          
      #mainNavbar .nav-link:hover{
  
  color:#ea1c2c;
         }
          
  
  #mainNavbar .navbar-brand{
  
  color: #ea1c2c;
  font-size: 1.5rem;
  font-weight: 100;
  }
  
  
  
 
  
  .navbar.scrolled{
  
      background: rgb(222, 192, 222);
      transition: background 500ms;
  }
  
  /* @media (max-width: 1200px)
  {
  
     
  
  } */
  
  


  
section
{
position: relative;
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
/* background: #2196f3; */
}

.swiper-container {

  width: 100%;
padding-top: 50px;
padding-bottom: 50px;

}

.swiper-slide{

  background-position: center;
  background-size: cover;
  width: 320px;
box-shadow:0 15px 50px rgba(0, 0, 0, 0.2) ;
filter: blur(4px);
background: #d1ebff ;
border-radius: 15px;
}

.swiper-slide-active
{
  filter: blur(0px);
  background: #9d7cce;

}

.swiper-slide-active .testimonialBox{

  color: white;
}
.swiper-slide-active .testimonialBox .details h3 {

  color: #ea1c2c;
}

.swiper-slide-active .testimonialBox .details h3 span
{

color: #f5d9d5;

}
.testimonialBox{
  position: relative;
  width: 100%;
  padding: 40px;
  padding-top: 90px;
  color: #999;
}

.testimonialBox .quote{
position: absolute;
top: 10px;
right: 15px;
width: 60px;
height: 60px;
}



.testimonialBox .details .quote img {

  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonialBox .details {

  display: flex;
  align-items: center;
  margin-top: 20px;
}

.testimonialBox .details .imgBx {
position: relative;
width: 60px;
height: 60px;
border-radius: 50%;
overflow: hidden;
margin-right: 10px;
}

.testimonialBox .details .imgBx img {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonialBox .lead {

line-height: normal;
text-align: start;
text-size-adjust: auto;
}
.testimonialBox .details h3 {

  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  /* color: #ea1c2c; */
  line-height: 1.1em;
}

.testimonialBox .details h3 span
{
font-size: 12px;
/* color: #f5d9d5; */

}

.swiper-container-3d .swiper-container-left,
.swiper-container-3d.swiper-container-right
{
  background-image: none;
}