*
{margin: 0;
padding: 0;
box-sizing: border-box;
/* font-family: 'Poppins', sans-serif; */
}

section
{
position: relative;
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background: #2196f3;
}

.swiper-container {

  width: 100%;
padding-top: 50px;
padding-bottom: 50px;

}

.swiper-slide{

  background-position: center;
  background-size: cover;
  width: 320px;
box-shadow:0 15px 50px rgba(0, 0, 0, 0.2) ;
filter: blur(4px);
background: #d1ebff ;
border-radius: 15px;
}

.swiper-slide-active
{
  filter: blur(0px);
  background: #9d7cce;

}

.swiper-slide-active .testimonialBox{

  color: white;
}

.testimonialBox{
  position: relative;
  width: 100%;
  padding: 40px;
  padding-top: 90px;
  color: #999;
}

.testimonialBox .quote{
position: absolute;
top: 10px;
right: 15px;
width: 60px;
height: 60px;
}

.testimonialBox .details .quote img {

  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonialBox .details {

  display: flex;
  align-items: center;
  margin-top: 20px;
}

.testimonialBox .details .imgBx {
position: relative;
width: 60px;
height: 60px;
border-radius: 50%;
overflow: hidden;
margin-right: 10px;
}

.testimonialBox .details .imgBx img {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonialBox .details h3 {

  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #2196f3;
  line-height: 1.1em;
}

.testimonialBox .details h3 span
{
font-size: 12px;
color: #666;

}

.swiper-container-3d .swiper-container-left,
.swiper-container-3d.swiper-container-right
{
  background-image: none;
}