
/* Reset .lead properties because of bootstrap */
.lead {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body-lead {
	line-height: 1;
}
ol-bootstrp-off, ul-bootstrp-off {
	list-style: none;
}
blockquote-lead, q-lead {
	quotes: none;
}
blockquote-lead:before, blockquote-lead:after,
q-lead:before, q-lead:after {
	content: '';
	content: none;
}
table-lead {
	border-collapse: collapse;
	border-spacing: 0;
}

*
{margin: 0;
padding: 0;
box-sizing: border-box;
}

body{

  background: #f5d9d5;
  }  
 

  #mainNavbar {
      font-size: 1.5rem;
      font-weight: 100;
        font-family: "Nunito",sans-serif;

      }
  
      #mainNavbar .nav-link{
  
  color: white;
         }
          
      #mainNavbar .nav-link:hover{
  
  color:#ea1c2c;
         }
          
  
  #mainNavbar .navbar-brand{
  
  color: #ea1c2c;
  font-size: 1.5rem;
  font-weight: 100;
  }
  
  
  
 
  
  .navbar.scrolled{
  
      background: rgb(222, 192, 222);
      transition: background 500ms;
  }
  
 
  /* <!--Neon Font--> */
  @font-face {
    font-family: 'Diamant handwriting';
    font-style: normal;
    font-weight: 400;
    font-display:swap;
    src: local('Diamant handwriting'), url('https://fonts.cdnfonts.com/s/32805/Diamant.woff') format('woff');
  }

@font-face {
  font-family: 'BBSugarcoat';
  font-style: normal;
  font-weight: 500;
  font-display:swap;
  src: local('BBSugarcoat'), url('https://fonts.cdnfonts.com/s/48402/Bbsugarcoat-BWXlx.woff') format('woff');
}

@font-face {font-family: "HTNeonW01-Regular"; font-display: swap; src: url("https://db.onlinewebfonts.com/t/cf984f65c2e069f0eed597bb0cee542d.eot"); src: url("https://db.onlinewebfonts.com/t/cf984f65c2e069f0eed597bb0cee542d.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/cf984f65c2e069f0eed597bb0cee542d.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/cf984f65c2e069f0eed597bb0cee542d.woff") format("woff"), url("https://db.onlinewebfonts.com/t/cf984f65c2e069f0eed597bb0cee542d.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/cf984f65c2e069f0eed597bb0cee542d.svg#HTNeonW01-Regular") format("svg"); }



.neon-box{

  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Diamant handwriting', cursive;
  margin-top: 50px;
}


.neon-box img{
  
  max-width: 41%;
  height: auto;
  margin-right: 20px;
  
}
.neon-box h2{
  
  color: #fff;
  font-size: 3em;
  letter-spacing: 0.1em;
  text-align: center;
  text-shadow: 0 0 5px #e894ff;
 
  align-items: center;
  
}


.neon-box .happy{

  line-height: 120px;
}
.neon-box .twenty{

  font-family: 'BBSugarcoat', sans-serif;
  font-weight: 700;
  font-size: 50px;
 color: #fff;
 text-shadow: 0 0 4px #e894ff;


}


  .wrapper-swipper
{
position: relative;
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.swiper-container {

  width: 100%;
padding-top: 50px;
padding-bottom: 50px;

}

.swiper-slide{

  background-position: center;
  background-size: cover;
  width: 320px;
box-shadow:0 15px 50px rgba(0, 0, 0, 0.2) ;
filter: blur(4px);
background: #d1ebff ;
border-radius: 15px;
}

.swiper-slide-active
{
  filter: blur(0px);
  background: #9d7cce;

}

.swiper-slide-active .testimonialBox{

  color: white;
}
.swiper-slide-active .testimonialBox .details h3 {

  color: #ea1c2c;
}

.swiper-slide-active .testimonialBox .details h3 span
{

color: #f5d9d5;

}
.testimonialBox{
  position: relative;
  width: 100%;
  padding: 40px;
  padding-top: 90px;
  color: #999;
}

.testimonialBox .quote{
position: absolute;
top: 10px;
right: 15px;
width: 60px;
height: 60px;
}



.testimonialBox .details .quote img {

  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonialBox .details {

  display: flex;
  align-items: center;
  margin-top: 20px;
}

.testimonialBox .details .imgBx {
position: relative;
width: 60px;
height: 60px;
border-radius: 50%;
overflow: hidden;
margin-right: 10px;
}

.testimonialBox .details .imgBx img {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonialBox .lead {

line-height: normal;
text-align: start;
text-size-adjust: auto;
}
.testimonialBox .details h3 {

  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  /* color: #ea1c2c; */
  line-height: 1.1em;
}

.testimonialBox .details h3 span
{
font-size: 12px;

}

.swiper-container-3d .swiper-container-left,
.swiper-container-3d.swiper-container-right
{
  background-image: none;
}






.polaroid img {
  max-width: 100%;
  height: auto;
}




.wrapper-polaroid {
  width: 100%;
   /* padding: 0 2rem; */
   text-align: center;
   align-items: center;

}
.block-polaroid{

   display: inline-flex;
}
.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.25rem 1rem rgba(0,0,0,0.2);
}
.caption {
  font-size: 1.125rem;
  text-align: center;
  line-height: 2em;
  text-align: center;
}

.item {
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
  display: inline-flex;
  width: 200px;
  height: 220px;
  overflow: hidden; 
    
}

.item img {
  max-width: 100%;
  height: auto;
}

.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}


.reasons-head {
    text-align: center;
    color: #9d7cce;
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 0.1em;
    font-family: 'HTNeonW01-Regular', cursive;
    margin-top: 20%;
    text-shadow: 0 0 1px #fff;

}



.table td, .table th {
  
  font-size: 1.1em;
  font-family: 'Kavivanar', cursive;
  font-weight: 700;
}
.table .heart{

  color: #9d7cce;
}
footer {
  font-family: 'Nunito', cursive;
  font-size: small;
  text-align: center;
  color:#ea1c2c;
    text-shadow: 0 0 1px #fff;
}
footer .rights{

font-weight: bold;
}

footer .credit{

  font-family: 'Bad Script', cursive;
  letter-spacing: 0.1em;
  font-weight: bolder;    
}